.header {
  background: #6607df;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__item {
    margin-right: 20px;
    color: #cdfc91;
    &:hover {
      opacity: 0.7;
    }
  }
}
